﻿<template>
    <div>
        <h1>{{message}} </h1>
        <form @submit.prevent="loginUser"
              class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2" id="container">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <div class="form-section" style="width: 22rem; margin: auto;">


                    <div class="text-right">
                        <label class="control-label">Email</label>
                        <input type="text"
                               class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                               placeholder="email@onetre.com"
                               v-model="email"
                               required />
                    </div>


                    <div class="text-right">
                        <label class="control-label">Password</label>
                        <input type="password"
                               class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                               placeholder="******"
                               v-model="password1"
                               required />
                    </div>

                    <div class="text-right">
                        <label class="control-label">Re-enter Password</label>
                        <input type="password"
                               class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                               placeholder="******"
                               v-model="password2"
                               required />
                    </div>

                    <div class="text-center" style="margin:10px">
                        <a href="./Register">I'm new</a>
                    </div>
                    <div class="text-center" style="margin:10px">
                        <a href="#container" v-on:click="cleanUser">I'm forgot my password</a>
                    </div>

                    <div class="text-center">
                        <button type="submit"
                                class="w-full text-center py-2.5 rounded-lg bg-green-500 text-black hover:bg-green-600 focus:outline-none my-1">
                            Login
                        </button>
                    </div>
                </div>
            </div>
</form>

    </div>


</template>
<script>
    export default {
        name: "vs-login-view",
        data() {
            return {
                message: '',
                name: "",
                email: "",
                password1: "",
                password2:""
            }
        },
        mounted() {
            console.log("You had just enter to the new Health application");
        },
        methods: {
        loginUser () {
                console.log("The login is already an existing feature");
            },
            cleanUser() {
                alert("An email was sent with a link to clean your password");
            }
    }
    }
</script>
<style></style>