﻿<template>
    <div>
        <div class="d-flex justify-content-center loading" v-if="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <form  method="POST" name="formRegister" action="/Index"
              class="bg-white px-6 py-8 rounded shadow-md text-black w-full">

            <div class="form-section" style="width: 22rem; margin: auto;">
                <h1 class="mb-8 text-3xl text-center">Registration</h1>

                <div class="text-right">
                    <label class="control-label">Email</label>
                    <input type="email"
                           class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                           v-model="email"
                           placeholder="mail@mail.com"
                           data-fv-notempty="true"
                           required />
                </div>

                <div class="text-right">
                    <label class="control-label">First Name</label>
                    <input type="text"
                           class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                           placeholder="First Name"
                           v-model="firstName"
                           required />
                </div>

                <div class="text-right">
                    <label class="control-label">Last Name</label>
                    <input type="text"
                           class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                           placeholder="Last Name"
                           v-model="lastName"
                           required />
                </div>

                <div class="text-right">
                    <label class="control-label">Password</label>
                    <input type="password"
                           class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                           placeholder="******"
                           v-model="password1"
                           required />
                </div>

                <div class="text-right">
                    <label class="control-label">Repeat Password</label>
                    <input type="password"
                           class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                           placeholder="******"
                           v-model="password2"
                           required />
                </div>



                <div class="text-right">
                    <label class="control-label">Account Type</label>
                    <select v-model="accountType" style="width: 13.5rem;" class="border rounded-lg px-3 py-2 mt-1 mb-3 text-sm w-full"
                            required>
                        <option value="caregiver">Caregiver</option>
                        <option value="patient">Patient</option>
                        <option value="both">Both</option>

                    </select>
                    <div class="alert-danger text-center" v-if="inputError.length>0"> {{inputError}}   </div>

                </div>

                <div class="text-center">
                    <input type="button" value="Continue" id="Continue" v-on:click="registerUser"
                           class="w-full text-center py-2.5 rounded-lg bg-green-500 text-black hover:bg-green-600 focus:outline-none my-1">
                </div>

            </div>
        </form>

    </div>


</template>
<script>
    import myServices from '../Services/user-service.js'

    export default {
        name: "vs-register-user",
        data() {
            return {
                message: "Welcome to the HeathCare Registration's Page",
                firstName: "",
                lastName:"",
                email: "",
                password1: "",
                password2: "",
                accountType: "1",
                inputError: "",
                loading: false
            }
        },
        mounted() {
            console.log("You had just enter to the new Health application");
        },
        methods: {
            //function to control data and register user
            registerUser(e) {
                 e.preventDefault();
                this.inputError = "";
                this.loading = true;
                var user = { email: "", lastName: "", firstName: "", accountType: "", password: "" };
                user = { email: this.email , lastName: this.lastName, firstName: this.firstName, accountType: this.accountType, password: this.password1 };
                //Call to the service, to register user
                var ctx = this;
                if (this.password1.length < 5 || this.password2.length < 5) {
                    this.inputError = "The password is too short";
                    ctx.loading = false;
                }
                else if (this.password1 != this.password2) {
                    this.inputError = "The passwords entered are differents, please re-enter them";
                    ctx.loading = false;
                } else {
                    myServices.registerUser(user).then(function (res) {
                        if (res.error == "0") {
                            ctx.loading = false;
                            ctx.success = "Your user has registered succesfully. An Email was send with a login link."
                            ctx.password1 = "/Index/" + res.password;
                            alert("An email was sent with your temporal password and a login link. Please check your email.");
                            document.formRegister.submit();
                        } else {
                            //If has ocurred an error, a message will display
                            ctx.inputError = res.detail;
                            ctx.loading = false;
                        } 
                    });
                }

               
            }
    }
    }
</script>
<style>
    .loading{
        position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;padding-top: 20%;background: #000;opacity: 0.8;
    }
</style>