﻿
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>HealthCare - Register</title>

</head>
<body class="form">

    <div id="app">
        <vs-register-user />
    </div>
    <script src="https://kit.fontawesome.com/b8c40cdea2.js" crossorigin="anonymous"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
 <script src="@Url.Content("~/bundle/home.js")"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        #app {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</body>
</html>